# Ignore everything in notes/ apart from .tex and .bib files
notes/notes.aux
notes/notes.log
notes/notes.out
notes/notes.pdf
notes/notes.synctex.gz
notes/notes.toc
notes/notes.bbl
notes/notes.blg
notes/notes.fls
notes/notes.fdb_latexmk
attic/
examples/sia/runs/
notes/%OUTDIR%
examples/ssa/runs/
examples/fracture/elastic/1d/runs/
examples/fracture/viscoelastic/1d/runs/
runs/
examples/fracture/elastic/2d/attic/